@import "newBase.css";

#resume{
  color: #3b755f;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #32323a;
  height: 400%;
  padding-left: 25em;
  padding-right: 25em;
  font-size: .8vw;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: rgb(184, 182, 182);
  font-family: "Cascadia Code";
}

.title_inner{
  color: whitesmoke;
  text-decoration: underline;
  font-family: "Roboto Mono";
  text-transform: uppercase;
  margin-left: 22px;
}

.about_content{
  display: flex;
  gap: 2em;
}

.about_text{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image{
  align-self: flex-start;
  margin-top: 10;
}

.image img{
  height:12vw;
  width: 12vw;
}

.info_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info_list div{
  width: 30em;
}

.CV{
  margin-top: 25px;

}

.CV button{
  color: whitesmoke;
  font-family: "Cascadia Code";
  background-color: transparent;
  border: solid 1px whitesmoke;
  padding: 10px;
  animation: rev 0.2s;
}

.CV button:hover{
  animation: animate 0.2s;
  background-color: #3b755f;
  border-color: #3b755f;
}

.title_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_container .title {
  color: whitesmoke;
  font-family: "Roboto Mono";
  font-weight: bolder;
  font-size: 3vw;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
}

.title_container .title:before,
.title_container .title:after {
    /* visibility: hidden; */
  padding: 30px;
  color: whitesmoke;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  background: #32323a;
  overflow: hidden;
  top: 0;
}
.title_container .title:before {
  left: 3px;
  text-shadow: -2px 0 #3b755f;
  animation: glitch-1 3s linear infinite reverse;
}
.title_container .title:after {
  left: -3px;
  text-shadow: -2px 0 #3b755f;
  animation: glitch-2 3s linear infinite reverse;
}

.ed_exp{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #b8b6b6;
  font-family: "Cascadia Code";
}

.ed_exp .content{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ed_exp .text{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ed_exp .content .text{
  margin-left: 44px;
}

.ed_exp .content .text .period{
  border: solid #3b755f;
  color: #3b755f;
  width: fit-content;
  padding: 2.5px;
}


.ed_exp .text .title{
  font-weight: bolder;
}

.circle_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.circle{
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background: conic-gradient(#3b755f var(--val), #b8b6b6 0deg);
  align-items: center;
  display: flex;
  justify-content: center;
}

.circle::before{
  content: "";
  position: absolute;
  height: 8vw;
  width: 8vw;
  background-color: #32323a;
  border-radius: 50%;
}

.circle .procent{
  position: relative;
  font-size: 1.5vw;
  font-family: "Cascadia Code";
  color: #b8b6b6;
}

.circle_wrap .lang{
  font-size: 1vw;
  font-family: "Cascadia Code";
  color: #b8b6b6;
}

.coding_skills{
  width: 100%;
}

.coding_skills .content{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}